/* CafeLuna Project - Starter Styles */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&family=Lato:wght@400;700&display=swap');


header {
    background: #784F41;
}

body {
    background-color: #B7AA99;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}


button {
    background: #F0b67F;
    color: #784F41;
}

h1, h2, h3 {
    font-family: 'Lato', sans-serif;
}

/* Element boxes; white centered box, smoothed corners */
.container {
  background: white;
  border-radius: 16px;
  padding: 20px; 
  box-shadow: 0 8px 24px rgba(0,0,0,0.08);
  border: 1px solid rgba(0, 0, 0, 0.125);
}
