/* CafeLuna Project - Starter Styles */

/*Import Quicksand and Lato as baseline fonts*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&family=Lato:wght@400;700&display=swap');

/*Set colors as variables*/
:root {
    --khaki: #B7AA99;
    --bole:  #784F41;
    --fawn:  #F0B67F;
}

/*Set fall-back font incase font is not defined*/
html {
    font-family: 'Quicksand', sans-serif;
}


/*Nav Bar Styling*/
/*Header - Themed color palette*/
header {
    position: sticky;
    top: 0;
    background: var(--bole);
    color:#fff;
    z-index: 10;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}

/* Cafe Luna Link - white on brown, bolded */
.brand {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2rem;
}

/* Navigation links text base styling */
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

/* Nav Bar Button styling */
.nav a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  padding: 4px 0;
  border-bottom: 2px solid transparent;
}

/* Button behavior */
.nav a:hover,
.nav a:focus {
  border-bottom-color: var(--fawn);
}

/*Body - Themed color palette, Quicksand font generalization*/
body {
    background-color: var(--khaki);
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

/*Container - Ensures page is confined and padded from the outside for consistency across content
Use on nearly everything*/
.container {
    width:min(1000px, 92vw);
    margin:0 auto;
}

/*Button - Themed buttons - Use for anchors (site navigation)*/
.btn {
  display: inline-block;
  background: var(--fawn);
  color: var(--bole);
  padding: 10px 16px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
}

/*Headers - Ensure font alignment across headers*/
h1, h2, h3 {
    font-family: 'Lato', sans-serif;
}

/*Card - Element boxes; white centered box, smoothed corners*/
.card {
  background: white;
  border-radius: 16px;
  padding: 20px; 
  box-shadow: 0 8px 24px rgba(0,0,0,0.08);
  border: 1px solid rgba(0, 0, 0, 0.125);
}



